__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
.vscode/browse.vc.db-shm
.vscode/browse.vc.db
